arrow==0.17.0
asgiref==3.2.10; python_version >= '3.5'
attrs==20.2.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
backcall==0.2.0
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
commonmark==0.9.1
coverage==5.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
dataclass-csv==1.1.3
dateparser==0.7.6
decorator==4.4.2
django==3.1.2
django-ajax-selects==2.0.0
django-auth-ldap==2.2.0
django-autocomplete-light==3.8.1
django-bootstrap4==2.3.1
django-countries==6.1.3
django-crispy-forms==1.9.2
django-debug-toolbar==3.1.1
django-environ==0.4.5
django-extended-choices==1.3.3
django-extensions==3.0.9
django-globals==0.3.2
django-localflavor==3.0.1
django-money==1.1
django-phonenumber-field==5.0.0
djangorestframework==3.12.1
django-sql-explorer==2.0
django-summernote==0.8.11.6
fire==0.3.1
fsspec==0.8.4
ftfy==5.8
h11==0.11.0
html2text==2020.1.16
httpcore==0.12.0; python_version >= '3.6'
httpie==2.3.0
httpx==0.16.1
idna==2.10; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
-i https://pypi.python.org/simple
iniconfig==1.1.1
ipython==7.18.1
ipython-genutils==0.2.0
isoweek==1.3.3
jedi==0.17.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
jplephem==2.15
ldap3==2.8.1
lml==0.1.0
lunardate==0.2.0
markdown==3.3.3
mypy==0.790
mypy-extensions==0.4.3
numpy==1.19.3; python_version >= '3.6'
packaging==20.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
parso==0.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pendulum==2.1.2
petl==1.6.8
pexpect==4.8.0; sys_platform != 'win32'
phonenumberslite==8.12.11
pickleshare==0.7.5
pluggy==0.13.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
prettytable==1.0.1
prompt-toolkit==3.0.8; python_full_version >= '3.6.1'
psycopg2-binary==2.8.6
ptyprocess==0.6.0
py==1.9.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycalverter==1.6.1
pyexcel==0.6.5
pyexcel-io==0.6.3; python_version >= '3.6'
pyexcel-xls==0.6.1
pygments==2.7.2; python_version >= '3.5'
pyldap==3.0.0.post1
pyluach==1.2.0; python_version >= '3.4'
py-moneyed==0.8.0
pyparsing==2.4.7; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
pysocks==1.7.1
pytest==6.1.2; python_version >= '3.5'
pytest-cov==2.10.1
pytest-django==4.1.0
python-dateutil==2.8.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-ldap==3.3.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-stdnum==1.14
pytz==2020.1
pytzdata==2020.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
regex==2020.10.28
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986[idna2008]==1.4.0
rich==9.1.0
sgp4==2.13
six==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
skyfield==1.31
skyfield-data==1.1.0; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
sniffio==1.2.0; python_version >= '3.5'
soupsieve==2.0.1; python_version >= '3.0'
sqlanydb==1.0.10
sqlparse==0.4.1
termcolor==1.1.0
texttable==1.6.3
toml==0.10.1
traitlets==5.0.5; python_version >= '3.7'
typed-ast==1.4.1
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.11; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
wcwidth==0.2.5
workalendar==12.1.0
xlrd==1.2.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
xlwt==1.3.0
